**/node_modules
bin/js/bun.lock
scripts/
*.class
.DS_Store
src/_*
src/tmp*
bin/hs/cabal.project.local*
bin/scm/scheme/
bin/scm/bin/
tmp.js
.vscode
*.orig
base/.cache
/base/playground.kind
*.so
*.wpo
.cache
/.gtm/
.env
.sure.tmp.js
examples/*/.sure.tmp.js
examples/*/dist/
examples/*/.sure/
/dist/
examples/files/note.txt
examples/excel/excel-cols.txt