.cache
**/.cache
**/.cache/**
base/.cache
base/.cache/**
**/.DS_Store
**/node_modules
**/.sure
**/.sure.tmp.js
**/dist
bin/js/bun.lock
bin/js/package-lock.json
bin/js/node_modules
examples
dist
.github
editors
docs
.git
